<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register patient</title>
</head>

<body>
<form action="#" th:action="@{/patient/register}" th:object="${patient}" method ="post">
<input placeholder="Name" type="text" th:field="*{name}"><br>
<input placeholder="Surname" type="text" th:field="*{surname}"><br>
<select  th:field="*{gender}">
    <option th:each="gender : ${T(lv.venta.demo.enums.Gender).values()}"
            th:value="${gender}"
            th:text="${gender}">
    </option>
</select>
<br>
<input placeholder="Personal code" type="text" th:field="*{personalCN}"><br>
<input placeholder="Password" type="password" th:field="*{password}"><br>
<input type="submit" ><br>
</form>
</body>
</html>